:root {
    --white-color: #fff;
    --color-black: rgb(18, 18, 18);
    --theme-main-color-black: #242424;
    --theme-main-color-strada: #5E55D6;
    --theme-main-color-bg-messages: #a0a0a5;
    --theme-main-color-btn-transparent:  #5e55d676;
    --theme-main-color-scrollbar-transparent:  #5e55d600;
}
body{
    background-color: var(--theme-main-color-black);
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: var(--white-color);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    overflow: hidden;
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    color: var(--white-color);
    background-color: var(--theme-main-color-black);
    background-image: linear-gradient(rgba(255, 255, 255, 0.09), rgba(255, 255, 255, 0.09));
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
}
.form__search{
    display: flex;
    align-items: center;
    position: relative;
}
.form__search-input{
    width: 300px;
    padding: 8px;
}
.form__search-btn{
    position: absolute;
    right: 5px;
    background-color: var(--theme-main-color-strada);
}
.chat__search-list{
    background-color: var(--theme-main-color-bg-messages);
    overflow-y: scroll;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
}
.chat__search-list::-webkit-scrollbar {
    background-color: var(--theme-main-color-black);
    width: 16px;
}  
.chat__search-list::-webkit-scrollbar-track {
    background-color: var(--theme-main-color-bg-messages);
}  
.chat__search-list::-webkit-scrollbar-thumb {
    background-color: var(--theme-main-color-black);
    border-radius: 16px;
    border: 5px solid var(--theme-main-color-bg-messages);
}  
.chat__search-list:hover::-webkit-scrollbar-thumb {
    background-color: var(--theme-main-color-black);
    border: 5px solid var(--theme-main-color-bg-messages);
}
.btn__clear_search{
    position: absolute;
    right: 58px;
    width: 20px;
    height: 20px;
    background: var(--theme-main-color-black) url("../img/close-icon.svg") center no-repeat;
    visibility: hidden;
}
.main{
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white-color);
}
.theme__title{
    text-align: center;
    margin: 20px 0;
}
.chat{
    padding: 20px;
    border: 2px solid var(--theme-main-color-strada);
    width: 100%;
}
.chat__btn-wrapper{
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
}
.chat__messages-place{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 5px 0 5px 5px;
    border: 1px solid var(--white-color);
    font-size: 16px;
}
.chat__messages-list{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.chat__messages-list::-webkit-scrollbar {
    background-color: var(--theme-main-color-black);
    width: 16px;
    border-radius: 16px;
}  
.chat__messages-list::-webkit-scrollbar-track {
    background-color: var(--theme-main-color-black);
}  
.chat__messages-list::-webkit-scrollbar-thumb {
    background-color: var(--theme-main-color-bg-messages);
    border-radius: 16px;
    border: 5px solid var(--theme-main-color-black);
}  
.chat__messages-list:hover::-webkit-scrollbar-thumb {
    background-color: var(--theme-main-color-strada);
    border: 5px solid var(--theme-main-color-black);
}
.chat__message{
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 3px;
    background: var(--white-color);
    color: var(--theme-main-color-black);
    max-width: 420px;
}
.chat__message:last-child{
    margin-bottom: 0;
}
.message__right-side{
    align-self: flex-end;
}
.message__left-side{
    align-self: flex-start;
}
.chat__message-user{
    color: var(--theme-main-color-strada);
    font-weight: 600;
}
.chat__message-text{
    word-wrap: break-word;
}
.chat__message-time{
    color: #333;
    font-style: italic;
    font-size: 14px;
    text-align: right;
}
.messages__end{
    width: 100%;
    margin-bottom: 4px;
    text-align: center;
    background-color: var(--white-color);
    color: var(--theme-main-color-black);
}
.chat__form-msg-send{
    margin-top: 8px;
    position: relative;
    display: flex;
    justify-content: space-between;   
}
.chat__send-text{
    width: 100%;
    height: 32px;
    padding: 5px;
}
.chat__send-btn{
    margin-left: 5px;
    width: 29px;
    height: 32px;
}
.btn{
    padding: 5px;
    color: var(--white-color);
    border: 1px solid var(--white-color);
}
.btn:hover{
    background-color: var(--theme-main-color-strada);
}
.btn:active{
    background-color: var(--theme-main-color-btn-transparent);
    transition: background-color .3s;
}
.dialog__frame{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 273px;
    height: 319px;
    padding: 10px;
    background-color: var(--theme-main-color-black);
    border: 2px solid var(--theme-main-color-strada);
    font-size: 16px;
    color: var(--white-color);
}
.dialog__top{
    display: flex;
    justify-content: space-between;
}

.btn__close{
    width: 18px;
    height: 18px;
    background: var(--theme-main-color-black) url("../img/close-icon.svg") center no-repeat;
}
dialog:-internal-dialog-in-top-layer::backdrop{
    backdrop-filter: blur(10px);
}
.setting__name-title{
    margin-top: 20px;
}
.setting__form{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.setting__change-user{
    width: 207px;
    height: 32px;
    padding: 5px;
}
.setting__change-btn{
    width: 29px;
    height: 32px;
}
.auth__form{
    margin-top: 65px;
}
.auth__form-title{
    font-size: 14px;
}
.auth__email{
    margin-top: 5px;
    width: 100%;
    height: 32px;
    padding: 5px;
}
.auth__wrapper-btn{
    margin-top: 6px;
    display: flex;
    justify-content: space-between;
}
.auth__send-code-btn{
    width: 49%;
}
.auth__confirm-code-btn{
    width: 49%;
}
.notification__text{
    text-align: center;
    margin-top: 5px;
    font-size: 14px;
}
.info_alert{
    text-align: center;
    margin-top: 5px;
    font-size: 14px;
}
.confirm__form{
    margin-top: 65px;
}
.confirm__form-title{
    font-size: 14px;
}
.confirm__code{
    margin-top: 5px;
    width: 100%;
    height: 32px;
    padding: 5px;
}
.confirm__btn{
    margin-top: 6px;
}
@media (min-width: 1024px){
    .chat__message{
        max-width: 920px;
    }
}
@media (max-width: 1024px){
    .chat__message{
        max-width: 580px;
    }
}
@media (max-width: 640px){
    .form__search-input{
        width: 200px;
    }
    .chat__message{
        max-width: 320px;
    }
}